@import "../../node_modules/bootstrap/scss/bootstrap.scss";

$color-one: #a5bbcf;
$color-two: #ffffff;
$color-three: #13437f;
$color-four: #8e5434;
$color-five: #4b3414;
$color-six: #961f20;
$color-seven: #000000;

body {
  background-color: #d9d9d9;
}

header {
  background-color: $color-one;
  height: 31vw;
  padding: 0 !important;
  margin: 0 0 0 0;
  overflow-x: clip;
}

footer {
  background-color: $color-one;
  height: 15vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

p {
  color: $color-five;
}

h2 {
  font-size: 3vw;
  margin: 0;
}

.title {
  background-color: $color-one;
  display: flex;
}

.title-container {
  flex-grow: 1;
  align-content: center;
  justify-items: center;
}

.title > h1 {
  padding: 5.5vw 0 0 0.5vw;
  font-size: 6vw;
  font-weight: 800;
  color: $color-seven;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.title-container > h2 {
  font-weight: 600;
  font-size: 1.7vw;
}

.row-one {
  display: flex;
  justify-content: center;
  align-content: center;
}

.layered {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: inherit;
}

.layered > * {
  grid-column-start: 1;
  grid-row-start: 1;
}

.grey-bar {
  background-color: #d9d9d9;
  height: 5vw;
  position: relative;
  top: 14vw;
  z-index: 4;
  width: 100%;
}

.info-bar {
  height: 9vw;
  width: 62vw;
  background-color: $color-three;
  align-content: center;
  justify-self: center;
  padding: 0 14px;
  border-radius: 4px;
}

.info-bar > .row {
  align-content: center;

  &.row > * {
    align-self: center;
  }
}

.circle-svg {
  padding: 0;
  flex: 0 0 6vw;
}

.info-bar p {
  margin: 0;
  color: $color-two;
  font-size: 2vw;
}

main {
  background-image: url("../img/Group 3.jpg");
  display: flex;
  flex-direction: column;
  gap: 4vw;
  justify-content: space-around;
  padding: 4vw;
}

.info-box {
  background-color: white;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.info-box > p {
  font-size: 1.5vw;
}
.download-box {
  width: 42vw;
  height: 12vw;
  padding: 2vw;
}

.download-box > h4 {
  text-align: center;
}

.download-btn {
  flex: 0 0 5vw;
}

h4 {
  color: $color-five;
  font-size: 1.5vw;
}

.ride-w-friends {
  width: 49vw;
  height: 22vw;
  padding: 2vw;
}

.ride-w-friends > .info-box-title {
  justify-content: space-evenly;
}

.ride-w-friends > p {
  text-align: center;
}

.info-box-title > svg {
  flex: 0 0 11vw;
}

.info-box-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: $color-five;
}

.info-row {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-row:nth-of-type(3) {
  position: relative;
}

.price-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 10vw 0 0;
  position: relative;
}

.price-box {
  height: 14vw;
  width: 22vw;
  color: $color-two;
  background-color: $color-six;
  border-radius: 4px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap:wrap;
}

.price-box > p{
color: #e7dfae;
font-size: 3vw;
}

.price-box > div:nth-child(1) {
  font-size: 15vw;
  font-weight: 600;
  line-height: 13vw !important;
}
.price-box > div:nth-child(2) {
  font-size: 5vw;
  font-weight: 600;
}

.price-info {
  width: 31vw;
  height: 5vw;
  position: absolute;
  bottom: -4vw;
  font-size: 2vw;
  color: $color-five;
}

.map {
  position: relative;
  right: 0;
  z-index: 1;
}

.map > img {
  width: 49vw;
}

.service-info {
  width: 52vw;
  height: 34vw;
  position: absolute;
  right: 0;
  padding: 0 30px 0 158px;
}

.service-info > .info-box-title {
  padding: 0 4vw 0 0;
}

.positioning {
  position: relative;
  margin-top: 3vw;
}

.footer-links {
  color: $color-two;
  text-align: center;
  font-size: 1.75vw;
  display: flex;
  flex-direction: column;
}

.footer-links > a {
  text-decoration: none;
  color: black;
}

#phone {
  display: none;
}

#computer {
  display: flex;
}

.description {
  width: 48vw;
  padding: 3vw;
  margin-top: 3vw;
}

.description > .info-box-title {
  margin-bottom: 2vw;
}

@include media-breakpoint-up(xxl) {
  header {
    height: 406px;
    width: 1400px;
  }

  footer {
    height: 210px;
  }

  h2 {
    font-size: 42px;
  }
  #root {
    max-width: 1400px;
    display: flex;
    justify-self: center;
  }

  .container-fluid {
    width: 1400px;
  }

  .van {
    height: 378px;
  }

  .title {
    width: 910px;
    height: 336px;
    padding: 0 0 70px 56px;
  }

  .title > h1 {
    font-size: 70px;
    padding: 28px 0 0 0;
  }

  .van-fade {
    width: 238px;
    height: 350px;
    top: -15px;
    right: -329px;
  }

  .grey-bar {
    height: 70px;
    top: 196px;
  }

  .info-bar {
    height: 126px;
    width: 868px;
    top: 154px;
  }

  .circle-svg {
    flex: 0 0 98px;
  }

  .info-bar p {
    font-size: 21px;
  }

  main {
    margin: 42px 0 0 0;
  }

  .info-box > p {
    font-size: 21px;
  }

  .download-box {
    width: 588px;
    height: 154px;
  }

  .download-btn {
    flex: 0 0 70px;
  }

  h4 {
    font-size: 28px;
  }

  main > div {
    padding: 42px 0;
  }

  .ride-w-friends {
    width: 686px;
    height: 308px;
    margin: 0 0 0 56px;
  }

  .info-box-title > svg {
    flex: 0 0 182px;
  }

  .price-container {
    margin: 0px 140px 0 0;
  }

  .price-box {
    height: 196px;
    width: 308px;
  }

  .price-box > div:nth-child(1) {
    font-size: 210px;
    line-height: 182px !important;
  }

  .price-box > div:nth-child(2) {
    font-size: 70px;
  }

  .price-info {
    width: 434px;
    height: 70px;
    bottom: -56px;
    font-size: 28px;
  }

  .map > img {
    width: 714px;
  }

  .service-info {
    width: 728px;
    height: 476px;
  }

  .service-info > .info-box-title {
    padding: 0 70px 0 0;
  }

  .footer-links {
    font-size: 24.5px;
  }
}

@include media-breakpoint-down(md) {

  header{
    height: fit-content;
  }

  #phone {
    display: flex;
  }

  #computer {
    display: none;
  }

  .title {
    height: 29vw;
    display: flex;
    align-items: end;
    padding: 0;
  }

  .title-container > h2 {
    font-size: 3vw;
    margin: 2vw 0;
  }

  .grey-bar {
    top: 15vw;
  }

  .info-bar {
    height: 22vw;
    width: 100%;
    top: -5vw;
    padding: 0 2vw 0 3vw;
    border-radius: 0;
  }

  .small-info-bar {
    flex-direction: column;
    display: flex;
    width: 60%;
  }

  .small-info-bar > .col {
    display: flex;
    flex-direction: row;
    gap: 3vw;
  }
  .circle-svg {
    padding: 0;
    flex: 0 0 9vw;
    width: 4vw;
  }

  .info-bar p {
    margin: 0;
    font-size: 2.5vw;
    align-self: anchor-center;
  }

  .price-container {
    flex-direction: column;
    margin: 0;
    align-items: center;
    justify-content: center;
    padding: 0 0 1.25vw 0;
  }

  .price-box {
    height: unset;
    width: unset;
    color: #e7dfae;
    background-color: #c58e4d;
    border-radius: 4px;
    z-index: 2;
    display: flex;
    padding: 0 10px;
  }

  .price-box > div:nth-child(1) {
    font-size: 24vw;
    display: flex;
    align-items: center;
  }

  .price-box > div:nth-child(2) {
    font-size: 7vw;
  }

  .cost-text {
    font-size: 3vw;
    padding: 0 0 0 1.5vw;
  }

  .download-box {
    width: 92vw;
    height: 18vw;
  }
  main > div:nth-child(2) {
    padding: 0 0 3vw 0;
  }
  main {
    margin: 0;
  }

  h4 {
    font-size: 3vw;
  }

  .download-btn {
    flex: 0 0 8vw;
  }

  .info-box-row {
    background-color: white;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 92vw;
    padding: 3.5vw;
    height: 40vw;
  }
  .info-row {
    justify-content: center;
  }
  .info-row:nth-of-type(3) {
    position: inherit;
  }
  .leafs {
    width: 30vw;
  }

  .shuttle-service-text {
    width: 48vw;
    margin: 0;
  }

  .map2 > img {
    width: 100%;
  }

  .description {
    width: fit-content;
  }

  .description > p {
    font-size: 16px;
  }

  footer {
    flex-direction: column;
    height: 33vw;
  }

  .footer-links {
    font-size: 2.75vw;
  }
}
